
body{
  background-color: #fdeded;
}
h1{
  font-family: 'Merriweather', serif;
  font-size: 1cm;
  color: #c83349;   
}
img {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

body{
  text-align: center;
}
main{
  width: 600px;
  margin: auto;
}
div{
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border: 5px outset #00A4BD;   
  color: #2D3E50;
  background-color: #EAF0F6;
  text-align: center;


}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
 
}